:root {
    --dark-blue: #00005a;
    --light-blue: #0054ff;
    --cyan: #00f3ff;
    --bg-black: #1a1a1a;
    --white-default: #fff;
    --linear-gradient: linear-gradient(73deg, #0054ff -0.65%, #00005a 99.23%);
    --linear-gradient-cyan: linear-gradient(90deg, #00005a 0%, #00f 50%, #0ff 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_login {
    display: flex;
    flex-grow: 1;
}

.container_login {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.slideshow_login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgbanner_login {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario_login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--linear-gradient);
    padding: 20px;
}

.titulo_login {
    display: flex;
    gap: 15px;
    align-items: center;
}

.titulo_login img {
    height: 15vh;
}

.nome_login {
    font-size: 90px;
    font-weight: 700;
    color: white;
}

.input_login {
    width: 80%;
    height: 45px;
    line-height: 30px;
    padding: 0 3rem;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    transition: 0.5s ease;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.icon_senha_login {
    position: absolute;
    top: 438px;
    left: 1015px;
    color: var(--dark-blue);
}
.icon_user_login{
    position: absolute;
    top: 378px;
    left: 1015px;
    color: var(--dark-blue);
}

.registro_login {
    color: white;
    margin-bottom: 100px;
}

.btn_entrar_login {
    cursor: pointer;
    width: 14vw;
    height: 70px;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background: var(--bg-black);
    color: var(--white-default);
}
.email_login{
    margin-top:100px;
}