.main_sobre {
    min-height: 80vh;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.corpo_sobre {
    display: grid; /* Usando grid layout */
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 20px; /* Espaço entre os itens do grid */
}

.texto_corpo_sobre {
    font-size: 33px;
    text-align: left;
    padding-left: 5vw;
}

.aside_sobre {
    display: flex;
    justify-content: flex-end; /* Alinhando a imagem à direita */
    align-items: center;
}

.aside_sobre img {
    width: 55vw;
    height: auto;
}

.texto_corpo2_sobre {
    padding-top: 10vh;
    color: rgb(8, 8, 146);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_corpo3_sobre {
    width: 100%;
    display: grid; /* Usando grid layout para as caixas */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsividade */
    gap: 20px; /* Espaço entre as caixas */
    padding-top: 4vh;
}

.box_sobre {
    border: 1px solid #C0C0C0;
    padding: 10px;           
    font-size: 20px;    
}

.box_sobre img {
    width: 100%; /* Ajuste a largura da imagem para caber na caixa */
}

h3 {
    color: rgb(8, 8, 146);
    font-size: 32px;
}

.imagem-box_sobre {
    display: flex;
    justify-content: center;
    text-align: center;
}

.texto-box_sobre {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 2vw;
}

.texto_intro_sobre {
    display: flex;
    height: 10vh;
    flex-grow: 1;
    font-size: 30px;
    justify-content: left;
    align-items: center;
    padding-left: 8vw;
    background-image: url(../imagens/backgroundTop.png);
    color: #ffffff;
    font-weight: 700;
}

/* Responsividade */
@media (max-width: 768px) { /* Tablet */
    .texto_corpo_sobre {
        font-size: 28px; /* Reduzir tamanho da fonte em telas menores */
    }

    .aside_sobre img {
        width: 70vw; /* Ajustar a largura da imagem */
    }

    .texto_corpo2_sobre {
        font-size: 22px; /* Reduzir tamanho da fonte em telas menores */
    }
}

@media (max-width: 480px) { /* Mobile */
    .texto_corpo_sobre {
        font-size: 24px; /* Aumentar o ajuste para telas menores */
    }

    .aside_sobre img {
        width: 80vw; /* Ajustar a largura da imagem */
    }

    .texto_corpo2_sobre {
        font-size: 20px; /* Tamanho de fonte ainda menor */
    }

    .box_sobre {
        font-size: 18px; /* Ajuste de tamanho da fonte nas caixas */
    }
}
